<div class="login">

    <h1> Ingresar </h1>
    <form action="<?= URL_APP . '/login/auth/login' ?>" method="post">
          <div>
            <label>Email</label>
            <input type="text" name="email" placeholder="Email">
          </div>

          <div>
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Password">
        </div>

        <button type="submit" value="Submit" class="small radius button">Ingresar</button>
    </form>
</div>