
footer{
    background-color: #333;
    vertical-align: top !important;
    text-align: center;
}

footer ul
{
    margin: 0;
    padding: 0;
}

div.footer-column{
    margin-top: 25px;
    width: 220px;
    color: #efefef;
    float: none !important;
    vertical-align: top;
    display: inline-block;
}

div.footer-column ul{
     list-style-type: none;
     min-height: 100px;
}

div.footer-column h4{
    color: #fff;
    font-size: 16px;
}

div.footer-column a{
    color: #777777;
    font-size: 12px;
}

div.footer-column a:hover{
    color: #2B9F1A;
}