body{
    background: #EFEFEF !important;
    color: #555555;
    font-size: 16px;
}

body *
{
    font-family: 'Open Sans', sans-serif !important;
}

a.gray{
    color: #555555;
    font-weight: bold;
}

a.gray:hover{
    color: #2B9F1A;
    text-decoration: underline;
}

a.gray-normal{
    color: #727c6d;
    font-weight: normal !important;
}

div.header-top{
    border-radius: 5px 5px 0px 0px;
    background-color: #efefef;
    height: 35px;
    padding: 10px 15px 10px 15px;
    color : #727c6d;
    font-size: 13px;
}

div.header-top div.left{
    float: left !important;
}

div.header-top div.right{
    float: right !important;
}

div.header-top .link-separator{
    margin: 0 12px 0 12px;
}

div.header-middle{
    padding: 10px 0 15px 15px;
}

div.header-middle div.search{
    top: 104px;
    left: 551px;
    padding: 10px 10px 10px 50px;
    background-image: url("../images/search.png");
    border-radius: 5px 0 0 5px;
    position: absolute;
}

div.header-middle span{
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    top: 5px;
}

div.header-middle div{
    display: inline-block;
}

div.header-middle .phone-contact{
    padding: 7px 20px;
    top: 55px;
    position: absolute;
    background-color: #2B9F1A;
    left: 772px;
    color: #fff;
    border-radius: 10px 0 0 100px;
    box-shadow: 0px 3px 10px #888888;
    moz-box-shadow: 0px 3px 10px #888888;
    -webkit-box-shadow:; 0px 3px 10px #888888;
}

span.top{
    margin-top: 7px;
}

span.bold{
    font-weight: bold;
}

#main-panel{
        margin-top: 50px;
	padding: 0px;
	border: 0px;
	background-color: #FFFFFF;
	border-radius: 5px;
}

div.container
{
    /*background-image: url("../images/background.png");*/
    /*background-repeat: repeat-x;*/
    background: #dedede;
}

.search-input{
    height: 30px !important;
    margin-bottom: 0px !important;
    margin-left: 4px !important;
    width: 280px !important;
    margin-right: -4px !important;
}

div.search-button{
    padding: 6px 16px;
    background-color: #555555;
    border: 1px solid #555555;
    color: #ffffff;
    cursor: pointer
}

div.search-button:hover{
    background-color: #ffffff;
    border: 1px solid #727c6d;
    color: #555555;
}

nav.top-bar li a{
    font-size: 11px !important;
    padding: 0px 48px 0px 49px !important;
}

nav.top-bar li.has-dropdown a{
    padding-right: 55px !important;
    opacity: 0.9;
}

nav.top-bar li.has-dropdown a:hover{
    opacity: 1;
}

nav.top-bar li a:hover{
    background-color: #2B9F1A !important;
}

div.big-title
{
    padding: 7px 20px;
    font-family:'Open Sans', sans-serif;
    font-size:32px;
    color:#585858;
    text-align: center;
}

div.big-title.fix
{
    margin: 0px 0 25px 0;
    padding: 0px;
    text-align: left;
}

div.panel{
    margin: 0 auto;
    background-color: #ffffff;
    margin-bottom: 20px;
}

div.panel p{
    font-size: 14px !important;
    color: #555555;
    font-family:'Open Sans', sans-serif;
}

div.home-items
{
    margin: 15px;
}

div.home-items div.item
{
    display: inline-block;
    width: 32%;
    margin: 0 5px 0 5px;
    margin-bottom: 15px;
    border: 2px solid #d8d8d8;
    border-radius: 7px 7px 30px;
    min-height: 155px;
    vertical-align: top;
    box-shadow: 0px 3px 10px #888888;
    moz-box-shadow: 0px 3px 10px #888888;
    -webkit-box-shadow:; 0px 3px 10px #888888;
}

div.home-items div.item:hover
{
    background: #efefef;
    border: 2px solid #555555;
    transition: all 0.3s linear;
}

.item-link h2, .item-link h3
{
    font-size: 18px;
    color: #2B9F1A !important;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif !important;
}

.item-link span
{
    vertical-align: top;
    display: inline-block;
    padding-right: 15px;
}

.item-link div.item-html
{
    width: 60%;
    display: inline-block;
}

div.home-panel
{
    border: none;
    padding: 5px 5px 0 25px;
}

div.panel-parent
{
    margin: 25px 0;
}

div.home-panel-left
{
    width: 30%;
    text-align: justify;
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
}

div.home-panel-right
{
    width: 65%;
    text-align: justify;
    display: inline-block;
    padding-left: 25px;
    vertical-align: top;
}

div.horizontal-line
{
    width: 95%;
    margin: 25px auto;
    height: 1px;
    border-width: 0px 0px 1px;
    border-color: rgb(251, 252, 252);
    background: rgb(220, 221, 222);
}

div.home-services
{
     list-style-type: none;
     text-align: center;
}

div.home-services div
{
    max-width: 270px;
    background: #efefef;
    text-align: center;
    min-height: 450px;
    display: inline-block;
    margin: 25px 0;
}

div.home-services h4
{
    padding: 20px 20px 10px 20px;
}

div.home-services p
{
    padding: 0 25px 5px 25px;
    font-size: 14px;
}

div.home-services a.more-button
{
    padding: 6px 16px;
    background-color: #555555;
    border: 1px solid #555555;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
}

div.home-costumers
{
    margin: 25px 25px 70px 25px;
    text-align: center;
}

div.home-costumers img
{
    margin: 0 15px;
    box-shadow: 5px 7px 20px #cdcdcd;
}


div.login
{
    width: 40%;
    margin: 0px auto;
}

form
{
    margin: 25px 0 !important;
}

button
{
    background: #333333 !important;
}

button:hover
{
    background: #2B9F1A !important;
}