<div class="big-title">
	Nuestra Empresa
</div>
<div class="panel-parent">
	<div class="home-panel-left">
		<p>
		<img src="http://www.consorciolp.com.pe/images/servicio-temporal/servicio-2.jpg">
		</p>
	</div>
	<div class="home-panel-right">

		<p>
			GESTIONAR EN TRANSPORTE S.A.S es una empresa formada por personas de gran experiencia y altamente capacitados en la administración del transporte de carga terrestre, que han desarrollado su trabajo en compañías multinacionales en Colombia, logrando buenos resultados.
		</p>
		<p>
		 han desarrollado su trabajo en compañías multinacionales en Colombia, logrando buenos resultados.
		</p>
	</div>
</div>
