		<form action="/admin/dashboard/xhraction" method="post">
<article class="module width_full">
	<header><h3>Nueva Página Estática</h3></header>
		<div class="module_content">
				<fieldset>
					<label>Nombre</label>
					<input id="name" name="name" type="text">
				</fieldset>
				<fieldset>
					<label>Imagen principal</label>
					<input id="image_id" name="image_id" type="file">
				</fieldset>
				<fieldset>
					<label>Breve descripción</label>
					<textarea id="short-desc" name="short-desc" rows="6"></textarea>
				</fieldset>
				<fieldset>
					<label>Contenido</label>
					<textarea id="content" name="content" rows="12"></textarea>
				</fieldset>
		</div>
	<footer>
		<div class="submit_link">
			<input type="submit" value="Publish" class="alt_btn">
			<input type="submit" value="Reset">
		</div>
	</footer>
</article>
		</form>