<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Gestionar en Transporte Administrador</title>

	<link rel="stylesheet" href="<?=URL_APP?>css/adminCss.css" type="text/css" media="screen" />
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="<?=URL_APP?>ss/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="<?=URL_APP?>js/adminJs.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function()
    	{
      	  $(".tablesorter").tablesorter();
   	 }
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
	</script>

	<script src="<?=URL_APP?>/ckeditor/ckeditor.js"></script>
	<?php if(isset($this->jsModules['header'])) : ?>
	    <script type="text/javascript">
	        <?=$this->jsModules['header']; ?>;
	    </script>
	<?php endif ?>

</head>


<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="index.html">Gestionar Admin</a></h1>
		</hgroup>
	</header> <!-- end of header bar -->

	<section id="secondary_bar">
		<div class="user">
			<p> <?=$this->user->name . ' ' . $this->user->lastname?> (<a href="#">3 Messages</a>)</p>
			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="index.html">Gestionar Admin</a> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
		</div>
	</section><!-- end of secondary bar -->

	<aside id="sidebar" class="column">
		<form class="quick_search">
			<input type="text" value="Quick Search" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/>
		<h3>Páginas estaticas</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="<?=$this->url(array('controller' => 'dashboard', 'action' => 'spages'), 'dashboard')?>">Nueva Página</a></li>
			<li class="icn_edit_article"><a href="#">Editar Página</a></li>
		</ul>
		<h3>Usuarios</h3>
		<ul class="toggle">
			<li class="icn_add_user"><a href="#">Nuevo Usuario</a></li>
			<li class="icn_view_users"><a href="#">Editar Usuarios</a></li>
			<li class="icn_profile"><a href="#">Ver perfil</a></li>
		</ul>
		<h3>Media</h3>
		<ul class="toggle">
			<li class="icn_folder"><a href="#">File Manager</a></li>
			<li class="icn_photo"><a href="#">Gallery</a></li>
			<li class="icn_audio"><a href="#">Audio</a></li>
			<li class="icn_video"><a href="#">Video</a></li>
		</ul>
		<h3>Admin</h3>
		<ul class="toggle">
			<li class="icn_settings"><a href="#">Options</a></li>
			<li class="icn_security"><a href="#">Security</a></li>
			<li class="icn_jump_back"><a href="#">Logout</a></li>
		</ul>

		<footer>
			<hr />
			<p><strong>Copyright &copy; 2014 Gestionar Admin</strong></p>
			<p></p>
		</footer>
	</aside><!-- end of sidebar -->

	<section id="main" class="column">
		<?php  echo $this->layout()->content ?>
	</section>


    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('short-desc');
        CKEDITOR.replace('content');
    </script>
</body>

</html>