
<footer>
    <div class="footer-column">
      <h4>Información</h4>
      <ul>
          <li><a href="" style="padding-left: 0px;">Nosotros</a></li>
          <li><a href="" style="padding-left: 0px;">Objetivos</a></li>
          <li><a href="" style="padding-left: 0px;">Contactanos</a></li>

      </ul>
    </div>

    <div class="footer-column">
      <h4>Servicios</h4>
      <ul>
          <li><a href="" style="padding-left: 0px;">Capacitaciones</a></li>
          <li><a href="" style="padding-left: 0px;">Cursos Ofertados</a></li>
          <li><a href="" style="padding-left: 0px;">Asesorias</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Personal</h4>
      <ul>
          <li><a href="" style="padding-left: 0px;">Mi cuenta</a></li>
          <li><a href="" style="padding-left: 0px;">Noticias</a></li>
          <li><a href="" style="padding-left: 0px;">Información general</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h4>Legal</h4>
      <ul>
           <li><a href="" style="padding-left: 0px;">Politica de Privacidad</a></li>
          <li><a href="" style="padding-left: 0px;">Terminos y codiciones</a></li>
      </ul>
    </div>

</footer>