<div class="header-top">
    <div class="left">
         <a href="<?=$this->url(array(),"public")?>" class="gray gray-normal">Inicio</a>
         <span class="link-separator">|</span>
         <a href="<?=$this->url(array(),"login")?>" class="gray gray-normal">Acceso Personal</a>
    </div>
<div class="right">
        <a href="#" class="gray">Ingresa</a>
        o solicita datos
        <a href="#" class="gray">Acceso</a>
    </div>
</div>

<div class="header-middle">
        <img src="<?=URL_APP?>images/logo.png" width="210">
        <div class="phone-contact" >
            <span>  <i class="step fi-telephone size-36"></i> Contacto, &nbsp; <b>320-340 8246</b></span>
        </div>

        <div class="search">
            <div>
                <span class="top bold">Buscar</span>
                <span>
                    <input type="text" placeholder="" class="search-input">
                </span>
                <span>
                    <div class="search-button"> <i class="step fi-magnifying-glass size-24"></i></div>
                </span>
            </div>
        </div>
</div>

<nav class="top-bar" data-topbar="">
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li><a href="<?=$this->url(array(),'public')?>">INICIO</a></li>
            <li class="divider"></li>
            <li class="has-dropdown not-click">
                <a href="<?=$this->url(array("page" => "services"),"gestionar")?>">SERVICIOS</a>
                    <ul class="dropdown">
                        <li><a href="<?=$this->url(array("page" => "capaciataciones"),"gestionar")?>">CAPACITACIONES</a></li>
                        <li><a href="<?=$this->url(array("page" => "cursos"),"gestionar")?>">CURSOS OFERTADOS</a></li>
                        <li><a href="<?=$this->url(array("page" => "asesorias"),"gestionar")?>">ASESORIAS</a></li>
                    </ul>
            </li>
            <li class="divider"></li>
            <li><a href="<?=$this->url(array("page" => "empresa"),"gestionar")?>">EMPRESA </a></li>
            <li class="divider"></li>
            <li><a href="#"> NOTICIAS </a></li>
            <li class="divider"></li>
            <li><a href="<?=$this->url(array("page" => "clientes"),"gestionar")?>">NUESTROS CLIENTES</a></li>
            <li class="divider"></li>
            <li><a href="#">CONTACTANOS</a></li>
        </ul>
    </section>
</nav>