<html xmlns="http://www.w3.org/1999/xhtml">
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestionar en Transporte SAS</title>

        <script src="<?=URL_APP?>js/publicJs.js" type="text/javascript"></script>
        <link rel="stylesheet" href="<?=URL_APP?>css/foundation-icons.css">
        <link rel="stylesheet" href="<?=URL_APP?>css/publicCss.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic" type="text/css">
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
          <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
          <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>

    <div class="container">
        <div class="row">
            <section id="main-panel" class="small-12 medium-12 columns panel">
                <?=$this->partial('header.phtml',array())?>

                <div id="content">
                    <ul class="breadcrumbs">
                      <li class="unavailable"><a href="#">Home</a></li>
                      <li class="current"><a href="#">Empresa</a></li>
                    </ul>
<!-- dinamic content layout -->

                    <div class="panel home-panel">
                        <?php  echo $this->layout()->content ?>
                    </div>
                    <div class="horizontal-line"></div>
<!-- dinamic content layout -->

                </div>
                <?=$this->partial('footer.phtml',array());?>
            </section>
        </div>
    </div>

  </body>
</html>