    <div id="sliderb_container" style="position: relative; height: 280px; overflow: hidden;">

        <!-- Slides Container -->
        <div u="slides">
            <div>
                <img u=image src="images/g1.jpg" />
                <div u="thumb">Do you notice it is draggable by mouse/finger?</div>
            </div>
            <div>
                <img u=image src="images/g2.jpg" />
                <div u="thumb">Did you drag by either horizontal or vertical?</div>
            </div>
            <div>
                <img u=image src="images/g3.jpg" />
                <div u="thumb">Do you notice navigator responses when drag?</div>
            </div>
            <div>
                <img u=image src="images/g4.jpg" />
                <div u="thumb">Do you notice arrow responses when click?</div>
            </div>
        </div>

<!--          ThumbnailNavigator Skin Begin
        <div u="thumbnavigator" class="sliderb-T">
            <div class="first-div">
            </div>
             Thumbnail Item Skin Begin
            <div u="slides">
                <div u="prototype" p-class="slides">
                    <thumbnailtemplate></thumbnailtemplate>
                </div>
            </div>
             Thumbnail Item Skin End
        </div> -->

        <div u="thumbnavigator" class="sliderb-T" style="position: absolute; bottom: 0px; left: 0px; height:45px; width:600px;">
            <div style="filter: alpha(opacity=40); opacity:0.4; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px; width: 100%; height: 100%;">
            </div>
            <!-- Thumbnail Item Skin Begin -->
            <div u="slides">
                <div u="prototype" style="POSITION: absolute; WIDTH: 600px; HEIGHT: 45px; TOP: 0; LEFT: 0;">
                    <thumbnailtemplate style="font-family: verdana; font-weight: normal; POSITION: absolute; WIDTH: 100%; HEIGHT: 100%; TOP: 0; LEFT: 0; color:#fff; line-height: 45px; font-size:20px; padding-left:10px;"></thumbnailtemplate>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->

        <!-- Bullet Navigator Skin Begin -->
        <!-- jssor slider bullet navigator skin 01 -->
        <!-- bullet navigator container -->
        <div u="navigator" class="jssorb01">
            <!-- bullet navigator item prototype -->
            <div u="prototype" p-class="navigator"></div>
        </div>
        <!-- Bullet Navigator Skin End -->

        <!-- Arrow Navigator Skin Begin -->
        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora05l">
        </span>
        <!-- Arrow Right -->
        <span u="arrowright" class="jssora05r">
        </span>
    </div>